extends layout

block vars
  head
    //- overwrite any page specific meta here
    - var bodyClass ='about'
    - var pageTitle ='This is the about page'    

block content
  h1 This is the about page! go 
    a(href="/") home
  :markdown
    kni *http://kurtnoble.com* : )
