

extends layout

block vars
  head
    //- overwrite any page specific meta here
    - var bodyClass ='home'  
    - var pageTitle ='KNI Boilerplate'   

block content
  div.container
    p
      :marked
        ###Hello world. 
        This text was rendered from markdown which is pretty great.
        Visit the [about page](about) to see how clean urls look.
      
    section#headers
      h1 Boilerplate v2.3
      h2 Several fabulous dixieland jazz groups played with quick tempo.
      h3 Back in my quaint garden, jaunty zinnias vie with flaunting phlox. 
      h4 I quickly explained that many big jobs involve few hazards. 
      h5 Jay Wolf is quite an expert on the bass violin, guitar, dulcimer, ukulele and zither. 
      h6 Expect skilled signwriters to use many jazzy, quaint old alphabets effectively.
      p Suspendisse vestibulum turpis a semper laoreet. Duis vitae tristique erat. Quisque eget dui a risus fringilla consectetur nec eu ex. Suspendisse consequat dui vel leo tristique, ac dapibus tortor dictum. Fusce dignissim feugiat erat sit amet tincidunt. Nunc iaculis diam elit, vitae luctus libero semper ut. Suspendisse consequat elit at tristique placerat. Nulla dignissim sit amet turpis sit amet tincidunt. Aliquam quis tortor nec massa lacinia bibendum ut eleifend odio. Aliquam sit amet volutpat tellus, at scelerisque est. Nulla facilisi. Aliquam ornare nisi quis quam dignissim porttitor. Mauris quis porttitor tellus. Vestibulum scelerisque massa eros, vulputate dapibus justo semper sed. Vestibulum ullamcorper egestas nisi, nec ultricies arcu.
      
    a.btn(href="http://kurtnoble.com") A KNI Joint
