// Variables
// ––––––––––––––––––––––––––––––––––––––––––––––––
$base-font-size         = 16px
$global-border-radius   = 4px

//
// REM Calculator
//
// Calculates and returns the REM value based on PX input
//
// uses     : rem(30px) or rem(30)
// returns  : 1.875rem
//
// ––––––––––––––––––––––––––––––––––––––––––––––––

rem(value) {
  type = unit(value)
  if type == px {
    return unit(value / $base-font-size, 'rem')
  } else {
    return unit(value, type)
  }
}
