//
// Typography
// –––––––––––––––––––––––––––––––––––––––––––

// in progress

// font stack (add your own!)
// helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
// helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
// georgia = Georgia, Cambria, "Times New Roman", Times, serif
// lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
// monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
// verdana = Verdana, Geneva, sans-serif

$main-font = "Helvetica Neue", "Helvetica", "Arial", sans-serif

.defaultType
  font-family $main-font
  font-weight normal
  font-style normal
  -webkit-font-smoothing antialiased


body, p, a, h1, h2, h3, h4, h5, h6,
small, em, strong, input, button
  @extends .defaultType


// Letterspacing
// –––––––––––––––––––––––––––––––––––––––––––
$tight-spacing = -.045em
$snug-spacing = -.02em
$more-spacing = .1em


// Headings
// –––––––––––––––––––––––––––––––––––––––––––
h1, h2, h3, h4, h5, h6
  display block
  margin 1rem 0
  font-weight normal

  // Remove the margin-top on all :first-child headers
  // as the padding on the parent *almost* always makes up for it
  &:first-child
    margin-top 0

  // Standardize margin-bottom on headers
  margin-bottom 1rem

  // links need to inherit the heading color
  a
    color inherit


// Overwrite Axis h1() sizes. Call these anywhere, even on non-heading styles.
h1()
  font-size rem(64px)
h2()
  font-size rem(48px)
h3()
  font-size rem(36px)
h4()
  font-size rem(28px)
h5()
  font-size rem(22px)
h6()
  font-size rem(18px)

h1
  h1()
  // more heading styles here
h2
  h2()
h3
  h3()
h4
  h4()
h5
  h5()
h6
  h6()
//
// Default Type styles
p
  font-size(16px)
  line-height 1.5em


// ligatures
ligatures = false

// vertical rhythm
base-line-height = 24px
default-rhythm-border-style = solid
relative-font-sizing = true
round-to-nearest-half-line = false
min-line-padding = 2px
