// debug()

normalize-css()
base()

// dependencies
@import 'jeet'

// base
@import "_base/mixins"
@import "_base/globals"
@import "_base/colors"
@import "_base/typography"
@import "_base/animations"

// components
@import "_components/footer"
@import "_components/header"
@import "_components/buttons"

// pages
@import "_pages/*"
